.row
  - if flash[:warning]
    %p.alert.alert-warning
      =raw flash[:warning]
  - if flash[:success]
    %p.alert.alert-success
      =raw flash[:success]
  - if flash[:info]
    %p.alert.alert-info
      =raw flash[:info]
  - if flash[:notice]
    %p.alert.alert-info
      =raw flash[:notice]
  - if flash[:danger]
    %p.alert.alert-danger
      =raw flash[:danger]
  - if flash[:error]
    %p.alert.alert-danger
      =raw flash[:error]
