- page_title "DataEnchilada"

.row
  .col-xs-12
    .well
      %span= link_to icon("fa-cog") << t("terms.setup", target: "DataEnchilada"), new_daemon_path(variant: "fluentd_gem"), class: "btn btn-primary btn-lg"
